* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* max-width: 100%; */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-padding-top: 100px;
}

.nav-bar {
  background: repeating-linear-gradient(45deg, #0e092e, #100c2e, #0b082e);
  justify-content: space-evenly;
  align-items: center;
}

nav {
  /* opacity: 0; */
  height: 9vh;
}

.title {
  display: flex;
  position: absolute;
  top: 3em;
  left: 9.4em;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
}

.title h2 {
  position: absolute;
  font-size: 50px;
  margin-left: 1em;
  color: #01ff01;
  cursor: pointer;
  transition: 0.1s font-size ease-out;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 25%;

  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.title a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-icons {
  transform: scale(0.9);
}

div.main-dark {
  /* background: repeating-linear-gradient(45deg, #1f1d38, #0c0533, #0c0830);
  background: repeating-linear-gradient(45deg, #2c2c2c, #000000); */
  background-image: url("../Images/Icons/bg.png");
  opacity: 0.8;
  background-size: cover;
  background-repeat: repeat-y;
}

div.main-light {
  background: repeating-linear-gradient(45deg, #d0d9dc, #d5d7d9, #f4fbfd)
}

.name {
  color: #01ff01;
}

.search-bar {
  transform: scale();
  position: absolute;
  display: flex;
  top: 1.5em;
  left: 37%;
  min-width: 500px;
  min-height: 50px;
  background-color: #180f52;
  border-radius: 10px;
  opacity: 0.8;
}

.search-bar input {
  left: 4.5em;
  position: absolute;
  display: flex;
  background: none;
  border: none;
  border-color: none;
  opacity: 0.6;
  min-width: 425px;
  min-height: 50px;
  color: white;
  outline: none;
  font-size: 18px;
}

.Search-icon {
  transform: scale(0.8);
  z-index: 3;
  left: 1em;
  top: 0.8em;
  position: absolute;
}

.bottom-bar {
  /* opacity: 0.7; */
  min-height: 4em;
  min-width: 100%;
  /* position: absolute; */

  list-style: none;
  display: grid;
  grid-template-columns: 10% 1fr 45% 2fr;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  position: absolute;
  /* background: linear-gradient(30deg, rgb(197, 179, 179), #c9a8a8, #a07c7c); */
  background: transparent;
}

.bottom-icons {
  padding-top: 20px;
  grid-column: 4/5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-bar-icons {
  margin-right: 10px;
}

.bottom-bar li {
  display: contents;
  list-style: none;
  margin-right: auto;
}

.bottom-bar li a {
  text-decoration: none;
  cursor: pointer;
  margin-left: 2.5em;
}

section {
  padding-top: 5em;
  min-height: 100vh;
  min-width: 100%;
}

.main-menu-bottom {
  /* background: linear-gradient(80deg, #130e38, #100b31, #16042a); */
  background: transparent;
  margin-bottom: 6vh;
  scale: 1.1;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.main-menu-bottom ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.main-menu-bottom li {
  list-style: none;
}

.main-menu-bottom li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  justify-self: center;
  align-self: center;
}

a.main-menu-list {
  color: #9896a5;
  font-family: Georgia;
  text-align: center;
}


.main-menu-bottom li a:hover {
  color: #00fb0d;
}

.main-menu-bottom li a:active {
  color: #00fb0d;
}

img.bottom-main-menu-icons {
  transform: scale(1.2);
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 5px;
  /* transform: scale(1.5); */
  cursor: pointer;
}

button#dropdownMenuButton {
  justify-content: center;
  align-items: center;
  border-color: none;
  max-width: 60px;
  max-height: 35px;
  outline: none;
}

button.dropdown-toggle {
  outline: none;
  background: transparent;
}

div.dropdown-menu {
  background-color: transparent;
  justify-content: space-between;
  align-items: flex-end;
}

div.dropdown-menu a {
  color: #bcbcbc;
  opacity: 0.7;
}

div.dropdown-item-list-icon {
  transform: scale(0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.Playlist-add {
  margin-left: 40px;
  margin-top: 30px;
  scale: 1;
}

div.Album-Image-Section {

  margin-left: 40vh;
  width: 60%;
  transform: scale(1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Album-Image-Section .album-section {
  padding-left: 7vh;
}

.feature-section {
  margin-top: -0.5em;
  padding-top: 1em;
  padding-left: 3em;
}

.feature-section h3 {
  font-size: 22px;
  font-family: "Lucida Sans";
  color: #01ff01;
}

.feature-section h4 {
  font-size: 18px;
  font-family: "Lucida Sans";
  color: #bcbcbc;
  opacity: 0.5;
}

.song-details {
  opacity: 0.9;
  scale: 1.1;
  width: 100em;
  height: 7vh;
  padding: 0 30px;
  padding-bottom: 12px;
  margin-bottom: 2.5em;
  padding-top: 20px;

  color: #b0aeae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130vh;
  margin-left: 18%;
  background: rgba(255, 255, 255, 0.034);
}

.song-details-bottom {
  padding-bottom: 12px;
  padding-top: 20px;
  color: #b0aeae;
  display: flex;
  justify-content: space-around;
  width: 150vh;
  margin-left: 13%;
  align-items: center;
}

.divider-line {

  opacity: 0.4;
  margin-left: 27em;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 65%;
  border-bottom: 1px solid rgb(134, 134, 134);
}

.album-song-bottom {
  display: flex;
  color: black;
  position: absolute;
  top: 1px;
  opacity: 1;
}

.song-details .song,
.song-details-bottom .song,
.song-artist {
  color: black;
  font-size: 17px;
}

.song-details-bottom {
  opacity: 1;
  width: 5vh;
  margin-left: 5em;
}

.album-song-bottom .song-playing-album {
  scale: 1.3;
  /* padding-left: 1em; */
  margin-left: 1em;
  margin-bottom: -2em;
}

.album-song-bottom {
  padding-left: 0em;
}

.album-song-bottom .song-details-bottom {
  padding-left: 0em;
}

.album-song-bottom .song-details-bottom .song {

  position: absolute;
  /* bottom: 0px; */
  top: 6px;
  left: 3.6em;
  width: 10em;
  right: 0;
  letter-spacing: 3px;
  font-size: 20px;
  padding-bottom: 1em;
  color: #c3c3c3;
}

.song-details-bottom .song-artist {
  position: absolute;
  min-width: 10em;
  font-size: 15px;
  padding-top: 3.5em;
  right: 0;
  left: 4.9em;
  color: #acacaccc;
  /* opacity: 0; */
}

.modified {
  margin-top: -62.5vh;
  scale: 1.3;
}

.modified .song-playing-album,
.modified .song-details-bottom {
  opacity: 0;
}

.modified .rythm-buttons .previous-button {
  position: absolute;
  top: 2em;
  left: 3em;
}

.modified .rythm-buttons .next-button {
  position: absolute;
  top: 2em;
  left: 10em;
}

.modified .rythm-buttons audio {
  position: absolute;
  bottom: 1em;
  left: 15em;
  scale: 1.1;
}

.modified .bottom-icons {
  position: absolute;
  top: 1.5em;
  left: -15em;
  /* right: 20em; */
}



.rythm-buttons {
  /* scale: 1.2; */
  position: absolute;
  display: flex;
  min-width: 70em;
  margin-left: 18em;
  margin-top: 0.75em;
  justify-content: space-around;
  align-items: center;
}

.rythm-buttons img {
  scale: 1.2;
  cursor: pointer;
}

.motion-album {
  border-radius: 20px;
  opacity: 1;
  transition: opacity 1s ease-in;
  object-fit: fit;
  min-width: 70vh;
  min-height: 40vh;
  max-width: 70vh;
  max-height: 45vh;
}

.motion-album::before {
  opacity: 0;
}

#dropdown-icon-share {
  height: 4em;
  /* display: flex; */
}

.song-playing-album {
  scale: 1.2;
}


.songunmodified audio {
  scale: 1.05;
  width: 55em;
  background-color: rgba(0, 4, 251, 0.657);
}

/* #player:hover {
  opacity: 0.8;
  width: 55em;
} */

.songmodified {
  position: absolute;
  display: flex;
  left: 13em;
  bottom: 36.5em;
  justify-content: space-around;
  align-items: center;
}

.songmodified audio {
  scale: 1.45;
  width: 59em;
  background: #1607bd;
  opacity: 0.8;
}

.ending-section {
  position: relative;
  background-color: #1d1a31bc;
  /* margin-bottom: 5em; */
}

.ending-section .info {
  margin-bottom: 4em;
  min-width: 100%;
  min-height: 30vh;
  padding: 1em;
  padding-top: 5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

.ending-section .info .lowertext {
  max-width: 12em;
  font-size: 15px;
  word-spacing: 5px;
  text-align: left;
  opacity: 0.58;
  color: #e1e0e6;
  line-height: 30px;
}

.ending-section .addTitle {
  color: #e1e0e6;
  opacity: 0.6;
  font-size: 19px;
  margin-bottom: 20px;

}

.contact .addTitle {
  cursor: pointer;
}

.ending-section .social {
  display: flex;
}

.ending-section .social {
  margin-top: 3em;
}

.ending-section .social img {
  margin-right: 3em;
  cursor: pointer;
}

.ending-section .follow {
  color: #e1e0e6;
  opacity: 0.6;
  margin-top: 0.5em;
  cursor: pointer;
}

a.paint-red {
  color: rgb(255, 57, 57);
  opacity: 0.9;
}