.Now-playing {
  overflow: hidden;
}


.Now-playing .search-bar-now-playing {
  transform: scale(0.8);
  position: absolute;
  display: flex;
  top: 5em;
  left: 35%;
  min-width: 500px;
  min-height: 40px;
  background-color: #170c57;
}

.Now-playing .current-song-playing {
  /* opacity: 0; */
  min-height: 3.5em;
  min-width: 100%;
  margin-top: 5em;
  /* position: absolute; */
  list-style: none;
  display: grid;
  grid-template-columns: 10% 1.3fr 2fr 1%;
  justify-content: space-around;
  align-items: center;
  margin-left: 8vh;
  position: absolute;
  /* background-color: rgb(0, 0, 0); */
}

.Now-playing .bottom-icons {
  padding-top: 13em;
  grid-column: 3/4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.Now-playing .current-song-playing li {
  display: contents;
  list-style: none;
  margin-right: auto;
}

.Now-playing .current-song-playing li a {
  text-decoration: none;
  cursor: pointer;
  margin-left: 2.5em;
}

.Now-playing section {
  padding-top: 4em;
  min-height: 200vh;
  min-width: 100%;
}

.Now-playing .main-song-lists .song .song-details {
  opacity: 0.9;
  scale: 1.1;
  width: 85em;
  height: 7vh;
  /* padding: 0 30px; */
  padding-bottom: 12px;
  margin-bottom: 2.5em;
  padding-top: 20px;

  color: #b0aeae;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  background: rgba(255, 255, 255, 0.034);
}

.Now-playing .main-song-lists {
  position: absolute;
  opacity: 1;
  top: 27em;
  left: 6.5em;
}

.Now-playing .close-icon {
  z-index: 1;
}

.Now-playing .song-details {
  opacity: 0.9;
  width: 100em;
  padding-bottom: 12px;
  padding-top: 20px;
  color: #b0aeae;
  display: flex;
  justify-content: space-around;
  align-items: center;

  opacity: 0.9;
  scale: 1.1;
  width: 100em;
  height: 7vh;
  padding: 0 30px;
  padding-bottom: 12px;
  margin-bottom: 2.5em;
  padding-top: 20px;

  color: #b0aeae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130vh;
  margin-left: 18%;
  background: rgba(255, 255, 255, 0.034);
}

.Now-playing .main-song-lists {
  padding-top: 3em;
}

.Now-playing .album-song-now .song-details-now .song {
  position: absolute;
  top: -30px;
  left: 6.2em;
  font-size: 37px;
  color: rgb(255, 255, 255);
  letter-spacing: 8px;
}

.Now-playing .song-artist {
  position: absolute;
  top: 1.5em;
  left: 12.7em;
  font-size: 18px;
  color: #7b7b7b;
  opacity: 0.9;
}

.Now-playing .song-album {
  font-size: 18px;
  position: absolute;
  top: 3em;
  left: 12.7em;
  color: #7b7b7b;
  opacity: 0.9;
}

.Now-playing .song-playing-album-now {
  transform: scale(2);
  margin-left: 6em;
  margin-top: -13em;
}


.Now-playing .rythm-buttons-now {
  position: absolute;
  scale: 1.5;
  display: flex;
  min-width: 13em;
  margin-left: 2em;
  margin-top: 5.5em;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
}

.song-modified {
  background-color: white;
  position: absolute;
  display: flex;
  top: 8em;
  left: 27em;
  justify-content: space-around;
  align-items: center;
}

.song-modified audio {
  scale: 1.45;
  width: 59em;
  background: #1607bd;
  opacity: 0.8;
}