.Share-page .share-bar {
  transition: opacity 1s ease-in-out;
  z-index: 3;
  min-width: 110vh;
  min-height: 55vh;
  background: repeating-radial-gradient(rgb(47, 47, 70),
      rgb(42, 32, 54),
      #23194d);
  border-radius: 20px;
  opacity: 1;
  margin-top: 5.8em;
  margin-bottom: 3em;
}

.Share-page .top-bar-share {
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Share-page .top-bar-share .top-bar-share-headings {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Share-page .top-bar-share-headings .share-heading1 {
  color: white;
  font-size: 25px;
  opacity: 0.9;
  letter-spacing: 5px;
}

.Share-page .top-bar-share-headings .share-heading2 {
  color: #acacac;
  margin-top: 10px;
  font-size: 15px;
  opacity: 0.9;
  letter-spacing: 4px;
}

.Share-page .icons-headings {
  margin-top: 2.5em;
  display: flex;
  /* background: white; */
  width: 100vh;
  height: 10vh;
  justify-content: space-around;
}

.Share-page .icons-headings .icon-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Share-page .icons-headings .icon-heading .icon-heading-indi {
  max-width: 12vh;
  text-align: center;
  opacity: 0.65;
}

.Share-page .icons-headings .icon-heading .icon-heading-indil {
  padding-top: 10px;
  max-width: 18vh;
  text-align: center;
  opacity: 0.65;
}

.Share-page .divider-line-share {
  opacity: 0.4;
  margin-left: 5%;
  padding-top: 20px;
  width: 90%;
  border-bottom: 1px solid rgb(134, 134, 134);
}

.Share-page .divider-mini {
  opacity: 0.4;
  width: 8em;
  border-bottom: 1px solid rgb(134, 134, 134);
}

.Share-page .divider-mini1 {
  margin-top: 20px;
  opacity: 0.4;
  width: 8em;
  border-bottom: 1px solid rgb(134, 134, 134);
}

.Share-page .insert-phone-number button {
  width: 15em;
  height: 2.5em;
  border-radius: 20px;
  color: white;
  background-color: red;
  outline: none;
  /* border: none; */
}

.Share-page .bottom-bar-share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.Share-page .continue {
  margin-top: 10px;
  display: flex;
  width: 50em;
  color: white;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.Share-page .share-icons-list {
  margin-top: 20px;
  display: flex;
  width: 65vh;
  justify-content: space-between;
}

.Share-page .last-text {
  margin-top: 10px;
  font-size: 15px;
  color: rgba(172, 172, 172, 0.864);
  display: flex;
  width: 12em;
  justify-content: space-evenly;
}

.Share-page .last-text .signup-Now {
  color: red;
}