.browse .main-song-lists {
  margin-top: 6em;
}

.browse .close-icon {
  z-index: 1;
}

.browse .song-details {
  margin-left: 20%;
  width: 75em;
  opacity: 0.9;
  padding-bottom: 12px;
  padding-top: 1.5em;
  color: #B0AEAE;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.browse .album-song {
  display: flex;
  color: black;
  position: absolute;
  top: 1px;
}