.login {
    display: flex;
    /* background: linear-gradient(to bottom right , green,rgba(34, 34, 233, 0.63)); */
    background-color: #2d26265a;
    opacity: 0.9;
    width: 50em;
    height: 65em;
    margin-left: 5em;

    font-size: 12px;
}

.sigin {
    display: flex;
    /* background: linear-gradient(to bottom right , green,rgba(34, 34, 233, 0.63)); */
    background-color: #2d26265a;
    opacity: 0.9;
    width: 62em;
    height: 65em;
    margin-left: 5em;

    font-size: 12px;
}

.loginItems {
    display: grid;
    margin-left: 5em;
    margin-bottom: 2em;
}

.loginTitle {
    margin: 35px 35px 35px 0px;
    color: rgb(224, 224, 224);
    font-size: 30px;
}

.login-data {
    width: 20em;
    font-size: 15px;
    color: #a5a5a5;
}

.sigin-data {
    width: 25em;
    font-size: 15px;
    color: #a5a5a5;
}

.email,
.email-data,
.password {
    color: #c2c2c2;
    opacity: 0.9;
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    /* margin: 40px 40px 40px 0px; */
}

.email-data {
    display: flex;
    align-items: center;
}

.verify-mail {
    margin-left: 1.5em;
    color: #b47bff;
    margin-top: 3em;
}

.keeplogged {
    display: flex;
    color: #a0a0a0;
    width: 13em;
    /* margin-top: 2em; */
    justify-content: space-around;
    /* margin: 40px 40px 40px 0px; */
}

.keeplogged input {
    position: absolute;
    left: 8em;
    /* padding-bottom: 20px; */
}

.correct {
    width: 15px;
}

.loginBtn {
    /* display: flex; */
    position: relative;
    margin-top: 3em;
    /* justify-content: space-between; */
    width: 90em;
    left: 14em;
}

.signBtn {
    /* display: flex; */
    position: relative;
    margin-top: 3em;
    /* justify-content: space-between; */
    width: 90em;
    left: 14em;
}

.arrow {
    /* scale: 2; */
    margin-left: 1.5em;
}

.btn {
    letter-spacing: 3px;
    width: 12em;
    height: 2.7em;
    border: none;
    border-radius: 10px;
    background-color: #3d0d7c;
    color: white;
}

.forgot {
    margin: 10px 10px 10px 10px;
    font-size: 10px;
}

.login-text {
    width: 17em;
    color: #a3a3a3;
    margin-top: 2em;
    margin-left: 0.5em;
    font-size: 12px;
    letter-spacing: 0.9px;
}

.signup-text {
    /* width: 20em; */
    color: #a3a3a3;
    margin-top: 2em;
    margin-left: -1.5em;
    font-size: 12px;
    letter-spacing: 0.9px;
}

.dont-specify {
    display: flex;
}

.specify-text {
    color: #8139e0;
}

.specify-text-forgot {
    color: #8139e0;
    margin-top: 1em;
    margin-left: 2em;
}

.inputs {
    width: 55vh;
    height: 6vh;
    /* position: absolute; */
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    margin-left: 15px;
    z-index: 10;
    font-size: 12px;
}

.input-box {
    margin-top: 20px;
    width: 55vh;
    height: 6vh;
    border-radius: 5px;
    border: 1px solid #707070;
}

.wallpaper1 {
    position: absolute;
    width: 30em;
    right: 37em;
    top: 6em;
    opacity: 0.7;
}

.wallpaper2 {
    opacity: 0.7;
    position: absolute;
    width: 30em;
    right: 5em;
    bottom: 10em;
}

.prefer {
    width: 120vh;
    height: 75vh;
    background: radial-gradient(#62627395 0.5%, #0d0a1b 50%);
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 25em;
    align-items: center;
}

.prefer .heading {
    margin-top: 2em;
}

.prefer .main-heading {
    font-size: 24px;
    /* opacity: ; */
    color: white;
    opacity: 0.9;
    letter-spacing: 5px;
}

.prefer .sub-heading {
    word-spacing: 2px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    opacity: 0.6;
    font-size: 17px;
    margin-top: 0.8em;
}

.prefer .select-language {
    margin-top: 2em;
    margin-bottom: 1em;
}

.prefer .divider-mini {
    opacity: 0.4;
    width: 18em;
    border-bottom: 1px solid rgb(134, 134, 134);
    margin: 20px;
}

.prefer .main-prefer {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.prefer .languages {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    color: #c5c4c8;
    font-size: 13px;
    opacity: 0.7;
}

.prefer .language input {
    margin-right: 15px;
    background-color: #a74668;
}

.prefer .select-text {
    color: #FF69A0;
    opacity: 0.9;
}

.prefer .artists {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    color: #c5c4c8;
    font-size: 13px;
    opacity: 0.7;
}

.prefer input {
    scale: 1.3;
}

.prefer .artist-detail input {
    margin-right: 15px;
    background-color: #a74668;
}

.prefer .artist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.prefer .artist img {
    width: 10em;
    border: 2px solid rgb(139, 125, 125);
    margin-top: 2em;
}