.Now-playing {
  overflow: hidden;
}

.Now-playing .current-song-playing {
  /* opacity: 0; */
  min-height: 3.5em;
  min-width: 100%;
  margin-top: 5em;
  /* position: absolute; */
  list-style: none;
  display: grid;
  grid-template-columns: 10% 1.3fr 2fr 1%;
  justify-content: space-around;
  align-items: center;
  margin-left: 8vh;
  position: absolute;
  /* background-color: rgb(0, 0, 0); */
}

.Now-playing .main-song-lists .song .song-details {
  opacity: 0.9;
  scale: 1.1;
  width: 85em;
  height: 7vh;
  /* padding: 0 30px; */
  padding-bottom: 12px;
  margin-bottom: 2.5em;
  padding-top: 20px;

  color: #b0aeae;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  background: rgba(255, 255, 255, 0.034);
}

.Now-playing .main-song-lists {
  position: absolute;
  opacity: 1;
  top: 27em;
  left: 20em;
}

.Now-playing .close-icon {
  z-index: 1;
}
.Now-playing .song{
    display: flex;

    width: 80em;
    margin: 2em auto;
    height: 7vh;
    padding: 1em;
    justify-content: space-around;
    align-content: center;
}


.Now-playing .song-playing-album-now {
  transform: scale(2);
  margin-left: 6em;
  margin-top: -1em;
}